@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62.5,100..900;1,62.5,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  /* FONTS */
  --font-poppins: "Poppins", "sans-serif";
  --font-play: "Playfair Display", "serif";
  --font-archivo: "Archivo", sans-serif;

  /* COLORS */
  --color-moss: #576238;
  --color-mustard: #ffd95d;
  --color-light: #f3f4f6;
  --color-dark: #181818;
  --color-gren: #0d542b;
  --color-filgreen: #1cc874;
  --color-filred: #cc2936;
  --color-filblue: #5386e4;
  --color-filgrey: #99a1af;

  /* SCREEN SIZES */
  --breakpoint-xs: 400px;
  --breakpoint-xxs: 350px;
}

/* REUSABLE STYLE */

.buttons {
  @apply bg-green-800 hover:bg-mustard px-2 xs:px-3 py-2 xs:py-3 font-poppins text-light hover:text-dark text-xs xs:text-sm;
}

.danger-btn {
  @apply bg-red-600 hover:bg-red-700 px-1 xs:px-2 py-1 xs:py-2 font-poppins text-light hover:text-dark text-xs xs:text-sm;
}

.home-stick {
  background-image: url("/filpods.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.form-background {
  background: linear-gradient(135deg, #0d542b, #1cc874, #0d542b);
}
