@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.reviews-slide {
  animation: 50s slide infinite linear;
}

.reviews:before,
.reviews:after {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  content: "";
  z-index: 2;
}

.reviews:before {
  left: 0;
  background: #f0eadc;
}

.reviews:after {
  right: 0;
  background: #f0eadc;
  /* background: #f3721d; */
}
