@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.reviews-slide {
  animation: 50s slide infinite linear;
}

.reviews:before,
.reviews:after {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  content: "";
  z-index: 2;
}

.reviews:before {
  left: 0;
  background: #f3f4f6;
}

.reviews:after {
  right: 0;
  background: #f3f4f6;
}

@media screen and (max-width: 768px) {
  .reviews:before,
  .reviews:after {
    width: 40px;
  }
}
@media screen and (max-width: 640px) {
  .reviews:before,
  .reviews:after {
    width: 20px;
  }
}
